@import "tailwindcss";

:root {
  --white: #ffffff;
  --darkGray: #363738;
  --lightGray: #f5f5f5;
  --softWhite: #fefaf1;
  --pureWhite: #ffffff;

  --textLight: #fafafa;
  --textMuted: #7d8184;
  --textPrimary: #000000;

  --accentRed: #db4444;
  --accentGreen: #00ff66;

  --hoverSoftRed: #e07575;
  --hoverSoftBlue: #a0bce0;

  --inter: "Inter", sans-serif;
  --poppins: "Poppins", sans-serif;
}

@theme {
  --color-white: var(--white);
  --color-darkGray: var(--darkGray);
  --color-lightGray: var(--lightGray);
  --color-softWhite: var(--softWhite);
  --color-pureWhite: var(--pureWhite);

  --color-textLight: var(--textLight);
  --color-textMuted: var(--textMuted);
  --color-textPrimary: var(--textPrimary);

  --color-accentRed: var(--accentRed);
  --color-accentGreen: var(--accentGreen);

  --color-hoverSoftRed: var(--hoverSoftRed);
  --color-hoverSoftBlue: var(--hoverSoftBlue);

  --font-inter: var(--inter);
  --font-poppins: var(--poppins);
}

.menuUnderLine {
  position: relative;
}
.menuUnderLine::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--textMuted);
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: all linear 0.2s;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}

.menuUnderLine:hover::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.amount {
  position: relative;
}
.amount::after {
  position: absolute;
  content: "0";
  left: 39%;
  top: -52%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background-color: var(--accentRed);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  color: var(--white);
  font-size: 15px;
}

.imagShadow {
  position: relative;
  z-index: 1;
}
.imagShadow::after {
  position: absolute;
  content: "";
  left: 50%;
  z-index: -1;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0px 0px 161px 160px rgba(128, 18, 128, 1);
  -moz-box-shadow: 0px 0px 161px 160px rgba(128, 18, 128, 1);
  box-shadow: 0px 0px 161px 160px rgba(128, 18, 128, 1);
}

.acountStyle {
  font-family: var(--popins);
  font-weight: 400;
  color: var(--text_black000000);
}
